/* Purpose: Style Ticker Detail Page */

/* Style the trading widget */
.trading-widg {
    margin: 20px;
    height: 500px;
}

/* Style the parent element of the header summary text*/
.headerSummaryDiv {
    position: relative;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Style the header summary text*/
.headerSummaryText {
    display: inline;
    font-size: 21px;
    position: relative;
    margin-right: 25px;
}

/* Style stat cards*/
.smooth-card {
    border-radius: 15px !important; 
    box-shadow: 1px 1px 1px 1px #000000 !important;
    height: 100%;
}

.ant-card-head {
    border-radius: 0 !important;
}
