.congressPersonCard {
    width: 450px;
    border-radius: 15px !important; 
    box-shadow: 1px 1px 1px 1px #000000 !important;
}

/* when wiidth is less than 450 make width 350*/
@media (max-width: 450px) {
    .congressPersonCard {
        width: 300px;
    }
}