/* Purpose: Style the navbar */

.logo {
    margin-right: 20px;
    font-size: 72px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.65);
    float: left;
    font-size: 24px;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark.ant-menu-item-selected {
    background-color: #000000;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: #000000;
}