
@import '~antd/dist/antd.css';
@import '~antd/dist/antd.dark.css';

/* Make sure our whole website is covering all the width */
html, body {
  max-width: 100%;
}

/* Style Ticker Detail Page: @Author: Mohammed Al-Rasheed*/
/* Style the trading widget */
.trading-widg {
    margin: 20px;
    height: 500px;
}

/* Style the parent element of the header summary text*/
.headerSummaryDiv {
    position: relative;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Style the header summary text*/
.headerSummaryText {
    display: inline;
    font-size: 21px;
    position: relative;
    margin-right: 25px;
}

/* Style stat cards*/
.smooth-card {
    border-radius: 15px !important; 
    box-shadow: 1px 1px 1px 1px #000000 !important;
    height: 100%;
}
/* Style the stat card header, so that it doesnt have curves within the card*/
.ant-card-head {
    border-radius: 0 !important;
}

/*Style the navbar: @Author: Farhan Rehman */
/* Style the navbar brand/logo */
.logo {
  margin-right: 20px;
  font-size: 72px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.65);
  float: left;
  font-size: 24px;
}

/* Style the footer: @Author: Mohammed Al-Rasheed */
.bot-footer {
  background-color: #141414;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  position: relative;
  bottom: 0;
  width:100%;
  height:60px;
  right: 0;
  left: 0;
}
